@import "tailwindcss";
@font-face {
    font-family: 'font1';
    src: url('../public/fonts/Lausanne-300.woff2');
}
@font-face {
    font-family: 'font2';
    src: url('../public/fonts/Lausanne-500.woff2'); 
}
body {
    /* background-color: #111;
    color: #fff ; */
} 



.autoscroll-x{
    animation: autoscroll-x 30s linear infinite;
}
@keyframes autoscroll-x {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.imagehover:hover .main-hove {
    @apply scale-105;
}
.imagehover:hover .hover-text{
    @apply opacity-100 translate-y-0  ;
}
/* 
.y-animation{
    animation: y-animation 0.2s ease ;
}
@keyframes y-animation {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
} */
